/.idea/
/**/venv/
.vscode/
.history/
*.vsix
project-3/fl-bench/*
!project-3/fl-bench/data/
!project-3/fl-bench/custom_partition.py
!project-3/fl-bench/custom_partition_type.py
project-4/resources/datasets/RNA-Puzzles
project-4/resources/datasets/representations
project-4/catboost_info/*
project-5/simulator/*.*
project-5/simulator/environment/__init__.py
project-5/simulator/environment/fogg_behavioural_model.py
project-5/simulator/Dockerfile
!project-5/simulator/experiments_custom.ipynb
!project-5/simulator/experiments_profiles.ipynb
!project-5/simulator/environment/profile_0_motivationless.py
!project-5/simulator/environment/profile_1_stressful.py
!project-5/simulator/environment/profile_2_motivated.py
!project-5/simulator/environment/profile_3_responsive.py
project-6/resources/datasets/*
project-6/resources/results/*
!project-6/resources/results/*.csv
